.listOfPosts{
	background: #f5f7fa!important;
 	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding-left: 15px;
	padding-top: 5px;
	padding-right: 15px;
 }

.feedEvent{
	border: 1px solid #dfe3f6;
	border-radius: 5px;
	padding: 5px !important;
	background: white !important;
	margin-bottom: 15px !important;
}
.imageA{
	border: 1px solid white;
	border-radius: 100% !important;
	width: 35px !important;
	height: 35px !important;
}

.morePosts{
	border-top-right-radius: 5px !important;
	border-top-left-radius: 5px !important;
	border-bottom-left-radius: 5px !important;
	border-bottom-right-radius: 5px !important;
}

.d{
	color: black !important;
	height: 5px;
	width: inherit;
}
.contentParent{
	max-width: 90% !important;
	color:black;
  }

h3{
	font-family: 'Quicksand', sans-serif;
}
h4{
	font-family: 'Quicksand', sans-serif !important;

}

p{
		font-family: 'Quicksand', sans-serif;

}

.postBody{
	color:black !important;
}

.postTitle{
	margin-bottom: 10px !important;
	font-size: 40px;
				font-family: 'Quicksand', sans-serif;

}

.timeFromNow{
	color: #788187;
	font-size: 13px !important;
}
.noMorePosts{
	text-align: center;
}

.postInfo{
	font-size: 20px;
			font-family: 'Quicksand', sans-serif;



}

.postAuthorImage{
	margin-right: 10px;

}

.postGenre{
	color:#788187;
			font-family: 'Quicksand', sans-serif;
}

.postTimeFromNow{
	color: #788187;
		font-family: 'Quicksand', sans-serif;

}

.dot{
	font-size: 15px;
}