.listOfPosts{
	background: white !important; 
 	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding-left: 5px;
	padding-top: 5px;
	padding-right: 5px;
 }

.imageA{
	border: 1px solid white;
	border-radius: 100% !important;
	width: 35px !important;
	height: 35px !important;
}

.morePosts{
	border-top-right-radius: 5px !important;
	border-top-left-radius: 5px !important;
	border-bottom-left-radius: 5px !important;
	border-bottom-right-radius: 5px !important;
}

.d{
	color: black !important;
	height: 5px;
	width: inherit;
}
.contentParent{
	max-width: 90% !important;
  }

h3{
	font-family: 'Quicksand', sans-serif;
}
h4{
	font-family: 'Quicksand', sans-serif !important;

}

p{
		font-family: 'Quicksand', sans-serif;

}

.noMorePosts{
	text-align: center;
}