.menuItem{
	font-family: 'Quicksand', sans-serif;
}


.search{
	width: 500px;
}

h3{
	font-family: 'Quicksand', sans-serif;
}

.menuClass{
	    border-bottom: 1px solid #DDDDDD !important;
	    margin-bottom: 12px !important;
 
}

.loginAndSignUp {
	margin-top: 3px;
}

.userProfile{
	border-radius: 100%;
}

p{
	font-family: 'Quicksand', sans-serif;
}

.active{
	text-decoration: underline !important;
	background: white !important;
}