body{
	background: #f5f7fa;
}

.postsArea {
	padding-right: 10px;
}

.filterOptions{
	margin-left: 5px;
	width: inherit;
}

.options {
	margin-left: 5px;
	width: inherit;

}

.genreDropDownArea{
	padding-left: 10px ;
	margin-bottom: 10px;
}
.header{
	position: fixed !important;
}

.mainPage{
	background: #f5f7fa;
}